.greeting {
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.greeting button {
    width: 50px;
    height: 23px;
}

.error {
    height: 25px;
    color: red;
}

.errorInput {
    border: 2px solid red;
}